{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-es2015-arrow-functions",
    "@babel/plugin-proposal-class-properties"
  ]
}
