.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding to search page */
input::-webkit-calendar-picker-indicator {
  display: none;
}
.form-control {
  border-color: #2b3553;
  border-radius: 0.4285rem;
  font-size: 0.75rem;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.drop-down-size {
  width: 400px !important;
  height: 250px !important;
}
.modal-filters-buttons {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.modal-overrid {
  position: absolute !important;
}
.modal-dialog {
  position: absolute;
  top: 50px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.pop-over-size {
  height: 150px;
  width: 330px;
}
.pop-over-size .btn-popover {
  bottom: 2px;
  position: absolute;
  right: 2px;
}
.anticon {
  top: -3px;
  position: relative;
}

.btn-popover {
  margin-top: 15px;
}

.btn-popover .btn-secondary {
  margin-right: 15px;
}

.container-fl .listing-image {
  padding-bottom: 5%;
  height: 500px !important;
  max-height: 600px !important;
}
.listing-image img {
  min-width: 100% !important;
  min-height: 100% !important;
  width: 30%;
}
.apartment-view-price {
  bottom: 184px !important;
}
.title-display {
  margin-top: -4%;
}

/* The grid: Four equal columns that floats next to each other */
.image-column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.image-column img {
  opacity: 0.8;
  cursor: pointer;
}

.image-column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.image-row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
