/*****************************************/
/*         BASIC SETUP   */
/*****************************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************** Search bar ************/
input::-webkit-calendar-picker-indicator {
  display: none;
}
.form-control {
  border-color: #2b3553;
  border-radius: 0.4285rem;
  font-size: 0.75rem;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.drop-down-size {
  width: 400px !important;
  height: 250px !important;
}
.modal-filters-buttons {
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.modal-overrid {
  position: absolute !important;
}
.modal-dialog {
  position: absolute;
  top: 50px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.pop-over-size {
  height: 150px;
  width: 330px;
}
.pop-over-size .btn-popover {
  bottom: 2px;
  position: absolute;
  right: 2px;
}
.anticon {
  top: -3px;
  position: relative;
}

.btn-popover {
  margin-top: 15px;
}

.btn-popover .btn-secondary {
  margin-right: 15px;
}

.container-fl .listing-image {
  padding-bottom: 5%;
  height: 500px !important;
  max-height: 600px !important;
}
.listing-image img {
  min-width: 100% !important;
  min-height: 100% !important;
  width: 30%;
}
.apartment-view-price {
  bottom: 35% !important;
  left: 2%;
  z-index: 2;
}

/**************  Detail section css*************/
.details-container {
  display: "flex" !important;
  margin-bottom: 15px !important;
}

.display-detail-button {
  display: "-webkit-inline-box" !important;
  margin-left: 35px !important;
  margin-top: -3px !important;
}
.btn-popover-style {
  margin-left: 135px !important;
}

/*************** For Gallery *******************/
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.tab-icon {
  margin-right: 5px;
  margin-right: 9px;
  font-size: 14px;
  color: #5cb85c;
}
.icon-text {
  font-family: lato;
  font-size: 16px;
  font-weight: 500;
}
ul li {
  text-decoration: none;
  list-style: none;
}

/********** Gallery ***********/

/* The grid: Four equal columns that floats next to each other */
.column-gallery {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column-gallery img {
  opacity: 0.8;
  cursor: pointer;
}

.column-gallery img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row-gallery:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  text-align: center;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/************ Loader ************/
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}
/*** Override ant-slider **/
.ant-slider-handle {
  width: 23px !important ;
  height: 23px !important;
  margin-top: -10px !important;
}

/********** Title colors ***************/
.filterTitle {
  font-size: 19px;
  color: indianred;
}
.filterTitle .filterValue {
  font-size: 16px;
}
.ant-slider {
  margin-top: 8px;
}
.filterSymbol {
  color: cadetblue;
}

/********** RESET FILTER **********/
.resetFilter {
  position: relative;
  left: -50%;
}
.resetFilter-checkbox {
  position: relative;
  left: -10%;
}
/******** Not found and 404 ******/
.loc-not-found {
  margin: 100px;
}

/******** Location header ******/
.apartment-header {
  font-family: lato;
}
.apartment-count {
  color: forestgreen;
}

/******* Apartment display header ********/
#apartment-header .location-name {
  color: cornflowerblue;
}
#apartment-header .show-location-name {
  right: 0px;
  top: 10px;
  position: absolute;
}
#apartment-header .pull-right {
  float: right !important;
}
.filter-type {
  color: cornflowerblue;
}
